:host {
  color: red;
  font-size: 1.5em;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-animation: pulse 0.5s 0 infinite alternate-reverse;
  -moz-animation: pulse 0.5s 0 infinite alternate-reverse;
  -ms-animation: pulse 0.5s 0 infinite alternate-reverse;
  -o-animation: pulse 0.5s 0 infinite alternate-reverse;
  animation: pulse 0.5s 0 infinite alternate-reverse; }

@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4); } }

@-moz-keyframes pulse {
  to {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4); } }

@-ms-keyframes pulse {
  to {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4); } }

@-o-keyframes pulse {
  to {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4); } }

@keyframes pulse {
  to {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4); } }
