<!-- import latest release version of all components from polygit -->
<link rel="import" href="https://polygit.org/components/paper-input/paper-input.html">

<dom-module id="my-element">
  <template>
    <link rel="stylesheet" href="./polymer.component.css">
    <p>
      Polymer binding is <b>{{message}}</b>!
    </p>
    <p>
      <paper-input value="{{message}}" label="Polymer input"></paper-input>
    </p>
    <b>contenteditable:</b> <div
      contenteditable="true"

      textContent$="message"

    >{{message}}</div>
    <p>
      <button on-click="handleFireEvent" type="button">Fire Polymer event</button>
    </p>
  </template>

  <script>
    Polymer({
      is: "my-element",
      properties: {
        message: {
          type: String,
          notify: true
        }
      },
      handleFireEvent: function() {
        this.fire('polymerFireEvent', {
          message: this.message + ' from Polymer'
        });
      }
    });
  </script>
</dom-module>
